[class*="col-"] {
  padding-top: 45px;
  padding-bottom: 15px;
  text-align: center;
  font-family: Helvetica, Arial;
  font-weight: Bold;
  font-size: 2vw;
  height: 120px;
  color: white;
}

.form-group {
    margin-bottom: 4px;
}

.col-xs-offset-1 {
    margin-left: 3%;
}

.navbar-custom {
    background-color: transparent;
}

.footer {
  position: absolute;
  bottom: 0;
  width: 50%;
  height: 70px;
  background-color: transparent;
}

a {
  color: lightblue;
  font-size: 30px;
  margin: 30px;
  padding: 10px;
}

h1 {
  margin: 30px;
  padding: 10px;
  color: white;
}

h2 {
  font-size: 224px
  margin: 30px;
  padding: 10px;
  color: white;
}

body {
  background: no-repeat center center fixed;
  background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.7) 0%, rgba(0, 0, 0, 0.7) 100%), url("../static/LotteryBalls.jpg");
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
